<!doctype html>
<html lang="en">

<head>
  <title>Libros</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS v5.2.1 -->
  <link href="/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">



<body>
    <nav class="navbar navbar-expand navbar-dark bg-primary">
        <div class="nav navbar-nav">
            <a class="nav-item nav-link" href="/" aria-current="page">Inicio </a>
            <a class="nav-item nav-link" href="/libros">Libros</a>
            <a class="nav-item nav-link" href="/nosotros">Nosotros</a>
            <a class="nav-item nav-link" href="/admin/login">Login</a>
        </div>
    </nav>
    <div class="container">
        <br>