{% include 'sitio/cabecera.html' %}


<div class="card">
    <img class="card-img-top" src="https://images.pexels.com/photos/1102797/pexels-photo-1102797.png?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" height="350" alt="Card image cap">
    <div class="card-body">
        <h4 class="card-title">ThegodesignCode</h4>
        <p class="text-primary">Somos un equipo profecional y apasoñados en el arte de la programacion. Tambien en el arte de impresiones en 3D, estamos trabajando y progresando mucho y con creaciones increbles.</p>
        <a href="https://www.linkedin.com/in/daniel-montero-castro-859357270/" class="btn btn-link">Linkendin</a>
        <a href="https://www.instagram.com/thegodesign/" class="btn btn-link">Instagram</a>
        <a href="https://github.com/Pibe0010" class="btn btn-link">GitHup</a>
    </div>
</div>



{% include 'sitio/pie.html' %}