<!doctype html>
<html lang="en">

<head>
  <title>Bienvenida</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS v5.2.1 -->
  <link href="/css/bootstrap.min.css" rel="stylesheet"crossorigin="anonymous">

</head>

<body>
    <nav class="navbar navbar-expand navbar-dark bg-primary">
        <div class="nav navbar-nav">
            <a class="nav-item nav-link active" href="/admin/" aria-current="page">Inicio</a>
            <a class="nav-item nav-link" href="libros">Libros</a>
            <a class="nav-item nav-link" href="cerrar">Cerrar</a>
            <a class="nav-item nav-link" href="/">Sitio web</a>

        </div>
    </nav>